<table>
    <thead>
        <tr>
            <th>Employee name</th>
            <th>Designation</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let detail of task ;let i=index">
            <td><a [routerLink]="'/about/'+detail.Employee+'/'+detail.Designation">{{detail.Employee}}</a></td>
            <td>{{detail.Designation}}</td>
            <td><button (click)="onEdit(i,'Manager')">Edit</button></td>
        </tr>
    </tbody>
</table>
<button (click)="reloadComp()">Reload</button>
